* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: #722f37;
  --black: #00000;
  --white: #ffffff;
  --font-family: "Poppins", sans-serif;
}

.conteiner-menu {
  display: flex;
  justify-content: space-around;
  background-color: var(--main-color);
  align-items: center;
  text-align: center;
  padding: 10px;
}

.logo-nome {
  display: flex;
  align-items: center;
}

.logo-nome h1 {
  font-size: 36px;
  font-weight: 300;
  color: var(--white);
  display: flex;
  margin: auto 0;
}

.logo {
  width: 2vw;
  height: 2hw;
}

.search-box {
  width: 18vw;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.home-acessibilidade {
  display: flex;
  gap: 30px;
}

.home-acessibilidade h2 {
  font-size: 22px;
  font-weight: 300;
  color: var(--white);
  display: flex;
  margin: auto 0;
}

.form-control {
  padding-right: 30px;
  border-radius: 20px;
}

#buscar {
  font-size: 14px;
  font-weight: 300;
  color: #b3aeae;
  border-left: 0;
}

.fa {
  background-color: var(--main-color);
  width: 3.5vw;
  height: 3vh;
  color: var(--white);
  border-radius: 20px;
  font-size: 14px;
}

#lupa {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* BODY */

.nome-exame {
  padding: 60px 80px 60px 80px;
  margin-left: 12px;
}

.nome-exame h1 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
}

.nome-exame p {
  font-size: 20px;
  font-weight: 300;
}

.instrucoes-exame {
  padding: 60px 80px 60px 80px;
}

.instrucoes-exame h1 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-left: 12px;
}

.descricao-instrucoes {
  border-top: solid 4px var(--main-color);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-image: linear-gradient(to right, #ffffff, #f8f8f8);
}

.descricao-instrucoes h3 {
  margin: 20px 0 20px 0;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--main-color);
}

.descricao-instrucoes p {
  font-size: 20px;
  font-weight: 300;
}

#titulo-coleta {
  margin-top: 100px;
}

.infos {
  padding: 60px 80px 60px 80px;
}

.divisoria-infos {
  display: flex;
}

.material {
  width: 70%;
  border-left: solid 4px var(--main-color);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-image: linear-gradient(to right, #ffffff, #f8f8f8);
}

.material img {
  width: 60px;
  height: 50px;
  margin-bottom: 10px;
}

.duracao {
  width: 30%;
  border-left: solid 4px var(--main-color);
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-image: linear-gradient(to right, #ffffff, #f8f8f8);
  margin-left: 20px;
}

.duracao img {
  margin-bottom: 10px;
}

.coleta {
  margin-top: 30px;
  width: 30%;
  border-left: solid 4px var(--main-color);
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-image: linear-gradient(to right, #ffffff, #f8f8f8);
}

.coleta img {
  margin-bottom: 10px;
}

.reacoes {
  margin-top: 30px;
  width: 70%;
  border-left: solid 4px var(--main-color);
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-image: linear-gradient(to right, #ffffff, #f8f8f8);
  margin-left: 20px;
}

.reacoes img {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .conteiner-menu {
    flex-direction: column;
    padding: 20px;
  }

  .logo-nome {
    padding: 10px;
  }

  .logo-nome h1 {
    font-size: 24px;
    margin-left: 3px;
    margin: auto 0;
  }

  .logo {
    width: 8vw;
    height: 4vh;
  }

  .search-box {
    width: 55vw;
    padding: 3px;
  }

  .fa {
    width: 10vw;
    background-color: var(--white);
    color: var(--main-color);
  }

  .home-acessibilidade {
    display: flex;
    margin-top: 10px;
  }

  .home-acessibilidade h2 {
    font-size: 18px;
  }

  /* BODY */

  .nome-exame {
    padding: 40px;
  }

  .instrucoes-exame {
    padding: 80px 40px;
    margin-bottom: 20px;
  }

  .instrucoes-exame h1 {
    font-size: 32px;
    margin-bottom: 5px;
    margin-left: 6px;
  }

  .descricao-instrucoes {
    padding: 10px;
    border-radius: 5px;
  }

  .descricao-instrucoes h3 {
    font-size: 22px;
    margin: 20px 0 10px 0;
  }

  .descricao-instrucoes p {
    font-size: 16px;
  }

  #titulo-coleta {
    margin-top: 60px;
  }

  .infos {
    margin-top: 0;
  }

  .divisoria-infos {
    display: flex;
    flex-wrap: wrap;
  }

  .material,
  .duracao,
  .coleta,
  .reacoes {
    width: 100%;
    margin-left: 0;
  }

  .duracao {
    margin-top: 30px;
  }
}
